<div class="jumbotron jumbotron-fluid">
  

    <form [formGroup] = "searchboxForm"  name="searchboxForm" id="searchboxForm"> 
        <!-- <div class="input-group col-sm-4 form-group-lg">
            <input formControlName="query" name="query" id= "query" type="text" class="form-control" placeholder="Username">
               <span class="input-group-addon">@</span>
        </div>  -->

        <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
     </form>
  <!-- <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div> -->

</div>
